	<!-- HEADER STARTS HERE -->
<div id="header">
    <div id="header-inner">
        <div id="header-inner1">

                <div id = "header-inner1-left">
                        <div id="phone_support" style="color: #ffffff">
                                <i class="fa fa-phone" aria-hidden="true" style="color: #ffffff"></i> Hotline: <span>1900</span> <span>636</span> <span>779</span>
                             </div>
                    </div>

                <div id = "header-inner1-right">
                        <ul>
                                <% if(!user){ %>
                                    <li>
                                        <a href="#" >Chào mừng bạn đến với MOKI |</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-flag-checkered" aria-hidden="true" style="color: #ffffff"></i><a href="#" >Kiểm tra đơn hàng | </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #ffffff"></i><a href="#" >Giỏ hàng | </a>
                                    </li>
                              
                                  <li>
                                    <a href="/login" >Đăng nhập  /  </a>
                                </li>
                                <li>
                                      <a href="/signup" >Đăng kí</a>
                                      <!-- <label id="dangki">Đăng kí</label> -->
                                  </li>
                                  
                                  <%}%>
                                  <% if(user) {%>
                                    <li>
                                            <a href="#" >Chào mừng bạn đến với MOKI |</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-flag-checkered" aria-hidden="true" style="color: #ffffff"></i><a href="#" >Kiểm tra đơn hàng | </a>
                                        </li>
                                        <li>
                                            <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #ffffff"></i><a href="#" >Giỏ hàng | </a>
                                        </li>
                                      <li>
                                          <a href="/add_product" >Thêm sản phẩm  |  </a> 
                                      </li>
                                      <li>
                                            <a href="/likeList/<%-user.username%>" >Đã thích  |  </a>
                                        </li>
                                      <li>
                                          <a href="/logout/<%=user.username%>">Đăng xuất  |  </a>
                                      </li>
                                      <li id = "user">
                                       
                                        <a  href="/userinformation/<%-user.username%>"><img id="user-avatar" src="/upload/<%-user.avatar%>" height="18px" width="18px">Hello: <%- user.username%></a>
                                        <!-- <ul id="user-option">
                                             <li><a href="/user/changePassword">Thay đổi mật khẩu</a></>
                                             <li><a href="/userinformation/<%-user.username%>">Thông tin tài khoản</a></li>
                                       </ul> -->
                                    </li>
                                      <%}%>
                            </ul>
                </div>
                <img src="/imagei/bkg_top_header.png">
        </div>

        <div id="header-inner2">
            <div id="header-inner2-left">
                    <div id = "header-inner2-left-image">
                            <a href="/">  <img src ="https://moki.vn/moki/themes/img/logo_big.png" alt ="Moki.vn - Ứng dụng mua bán trên di động | moki.vn" class = "image" > </a>
                          </div>
            </div>

            

            <div id="header-inner2-right">
                <div id="header-inner2-right-1">
                        <div id="header-inner2-right-search">
                                <form action="/search_product" method="POST" class="header-inner2-form" id="ProductsSearchProductForm" role="search">
                                    <input class="header-inner2-form-input" type="search" placeholder="Tìm kiếm sản phẩm"  value="" name="product_name" id="product_name" required="" >
                                    <!-- <input type="radio" name="searchUser"><label>Tìm kiếm Username &nbsp&nbsp </label> -->
                                    <button class="header-inner2-form-button" type="submit">
                                        <i class="fa fa-search" aria-hidden="true" style="color: #f16e8e"></i>
                                        
                                    </button>
                                </form>
                              </div>
                </div>
                <div id="header-inner2-right-2" class="wrapper-nav">
                        <nav class="nav-main">
            
                   <div id="header-inner2-right-2-inner">
                    <span class="header-inner2-link"><a href="/"> TRANG CHỦ</a></span>
                    <span class="header-inner2-link"><a href="#"> GÓC CỦA MẸ</a></span>
                    <span class="header-inner2-link"><a href="#"> GIỚI THIỆU</a></span>
                    <span class="header-inner2-link"><a href="#"> SHOP MOKI</a></span>
                    <span id ="header1-inner2-icon">
                    <span class="header-inner2-link-icon"><a href="https://www.facebook.com/moki.vn" target="_blank"> <i class = "fa fa-facebook-square"></i></a></span>
                    <span class="header-inner2-link-icon"><a href="https://www.youtube.com/channel/UCM7dLGfHJ6onxoY3StztfwQ/" target="_blank"> <i class = "fa fa-youtube-square"></i></a></span>
                    <span class="header-inner2-link-icon"><a href="https://twitter.com/MOKI_VN" target="_blank"> <i class = "fa fa-twitter"></i></a></span>
                    <span class="header-inner2-link-icon"><a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-instagram"></i></a></span>
                    </span>
                   </div>
                   </nav>
                </div>
            </div>
        </div>

    </div>
</div><br><br><br>
               <!-- HEADER ENDS HERE -->