<!-- NAV STARTS HERE -->
<div id="nav">
<div id="nav_title">
<span> <i class="fa fa-list"  style="color: #fff"></i> Danh mục sản phẩm </span>
</div>
<div id="nav-inner">
<nav id="AlphaNav">
<ul >
        <li>
                    <a class="title-text" href="/Mien-Phi-302.html">
                <label class="tt">Miễn Phí</label>
            </a>
            </li>
        <li>
                    <a class="title-text" href="/moki.vn/Be-an">
                   
                    Bé ăn                </a>     <i class="fa fa-angle-double-down"></i>
               
           
            <ul class="nav fix-ul collapse">
                                <li>
                    <a href="/moki.vn/Ghế bột ăn cho bé">
                        Ghế ăn bột cho bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Bình sữa và phụ kiện">
                        Bình sữa và phụ kiện                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Sua-bot-cac-loai-74.html">
                        Sữa bột các loại                    </a>
                                         
                                    </li>
                                <li>
                    <a href="/moki.vn/Bột Cháo Bánh ăn dặm">
                        Bột, Cháo, Bánh ăn dặm                    </a>
                                          
                                    </li>
                                <li>
                    <a href="/moki.vn/Đồ dùng phục vụ ăn uống">
                        Đồ dùng phục vụ ăn uống                    </a>
                                          
                                    </li>
                                <li>
                    <a href="moki.vn//Thực phẩm đóng hộp cho bé">
                        Thực phẩm đóng hộp cho bé                    </a>
                                    </li>
                            </ul>
            </li>
        <li>
                    <a class="title-text" href="/moki.vn/Be-mac">
                     
                    Bé mặc     </a>               <i class="fa fa-angle-double-down"></i>
                        
            
            <ul class="nav fix-ul collapse">
                                <li>
                    <a href="/moki.vn/Giày dép cho bé">
                        Giày dép cho bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Mũ thời trang">
                        Mũ thời trang                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Đồ sơ sinh">
                        Đồ sơ sinh                    </a>
                                           
                                    </li>
                                <li>
                    <a href="/moki.vn/Phụ kiện thời trang khác">
                        Phụ kiện thời trang khác                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Thời trang cho bé">
                        Thời trang cho bé                    </a>
                                          
                                    </li>
                            </ul>
            </li>
        <li>
                    <a class="title-text" href="/moki.vn/Be-ngu">
              
                    Bé ngủ                </a>               <i class="fa fa-angle-double-down"></i>
             
 
            <ul class="nav fix-ul collapse">
                                <li>
                    <a href="/moki.vn/Giường ngủ giường tầng">
                        Giường ngủ, giường tầng                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Nôi xách em bé">
                        Nôi xách em bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Chăn đệm chiếu gối">
                        Chăn đệm chiếu gối                    </a>
                                            
                                    </li>
                                <li>
                    <a href="/moki.vn/Bộ quây cũi">
                        Bộ quây cũi                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Nôi điện tự động">
                        Nôi điện tự động                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Cui-cho-be-278.html">
                        Cũi cho bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Ghế rung cho bé">
                        Ghế rung cho bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Chặn giường">
                        Chặn giường                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Nôi ngủ chung giường">
                        Nôi ngủ chung giường                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Đèn ngủ máy báo khóc ru ngủ">
                        Đèn ngủ, máy báo khóc, ru ngủ                    </a>
                                    </li>
                            </ul>
            </li>
        <li>
                    <a class="title-text" href="/moki.vn/Be-tam">
                    </a>
                    Bé tắm                    <i class="fa fa-angle-double-down"></i>
            
           
            <ul class="nav fix-ul collapse">
                                <li>
                    <a href="/moki.vn/Chậu tắm và phụ kiện">
                        Chậu tắm và phụ kiện                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Đo nhiệt độ tắm cho bé">
                        Đo nhiệt độ tắm cho bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Khăn mặt, Khăn tắm cho bé">
                        Khăn mặt, Khăn tắm cho bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Đồ chơi khi tắm">
                        Đồ chơi khi tắm                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Sữa tắm, dầu gội">
                        Sữa tắm, dầu gội                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Mũ chắn nước">
                        Mũ chắn nước                    </a>
                                    </li>
                            </ul>
            </li>
        <li>
                    <a class="title-text" href="/moki.vn/Be-ve-sinh">
         
                    Bé vệ sinh         </a>             <i class="fa fa-angle-double-down"></i>
               
          
            <ul class="nav fix-ul collapse">
                                <li>
                    <a href="/moki.vn/Vệ sinh tóc tai tay chân răng miệng">
                        Vệ sinh tóc, tai, tay, chân, răng, miệng                    </a>
                                          
                                    </li>
                                <li>
                    <a href="/moki.vn/Kem hăm dưỡng da phấn rôm">
                        Kem hăm, dưỡng da, phấn rôm                    </a>
                                          
                                    </li>
                                <li>
                    <a href="/moki.vn/Bỉm và tã giấy cho bé">
                        Bỉm và tã giấy cho bé                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Giấy ướt và máy ủ giấy ướt">
                        Giấy ướt và máy ủ giấy ướt                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Bô vệ sinh nắp toilet ">
                        Bô vệ sinh, nắp toilet                    </a>
                                    </li>
                                <li>
                    <a href="/moki.vn/Tấm lót chống thấm">
                        Tấm lót chống thấm                    </a>
                                    </li>
                            </ul>
            </li>
                                                                                                      <li>
            <a class="title-text1" href="/moki.vn/Be-di-ra-ngoai">Bé đi ra ngoài</a><i class="fa fa-angle-double-down"></i>
            <ul class="nav fix-ul1">
                                                                    <li>
                    <a href="/moki.vn/Ô áo mưa kem chống nắng cho bé">Ô, áo mưa, kem chống nắng cho bé</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Xe đẩy cho bé">Xe đẩy cho bé</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Địu đai các loại">Địu, đai các loại</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Ba lô cặp túi cho bé">Ba lô cặp túi cho bé</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Ghế ngồi xe hơi">Ghế ngồi xe hơi</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Đồ bơi kính bơi của bé">Đồ bơi, kính bơi của bé</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Kính thời trang">Kính thời trang</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Ghế ngồi xe đạp xe máy">Ghế ngồi xe đạp, xe máy</a>
                </li>
                                                        </ul>
    </li>
                                                                                                                        <li>
            <a class="title-text1" href="/moki.vn/Be-choi-ma-hoc">Bé chơi mà học</a><i class="fa fa-angle-double-down"></i>
            <ul class="nav fix-ul1">
                                                                    <li>
                    <a href="/moki.vn/Đồ chơi bé sơ sinh">Đồ chơi bé sơ sinh</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Đồ chơi gỗ">Đồ chơi gỗ</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Đồ chơi thông minh">Đồ chơi thông minh</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Đồ chơi bé trai">Đồ chơi bé trai</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Đồ chơi bé gái">Đồ chơi bé gái</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Đồ chơi vận động">Đồ chơi vận động</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Sách, truyện cho bé">Sách, truyện cho bé</a>
                </li>
                                                        </ul>
    </li>
                                                                                                                        <li>
            <a class="title-text1" href="/moki.vn/Danh-cho-me">Dành cho Mẹ</a><i class="fa fa-angle-double-down"></i>
            <ul class="nav fix-ul1">
                                                                    <li>
                    <a href="/moki.vn/Mẹ mang thai">Mẹ mang thai</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Mẹ sau khi sinh">Mẹ sau khi sinh</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Hút sữa và phụ kiện">Hút sữa và phụ kiện</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Sữa bà bầu">Sữa bà bầu</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Dầu gội Mỹ phẩm">Dầu gội, Mỹ phẩm</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Sách cho mẹ">Sách cho mẹ</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Giày dép cho mẹ">Giày dép cho mẹ</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Thời trang cho mẹ">Thời trang cho mẹ</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Trà, vitamin và thực phẩm chức năng">Trà, vitamin và thực phẩm chức năng</a>
                </li>
                                                        </ul>
    </li>
                                                                                                                        <li>
            <a class="title-text1" href="/moki.vn/Do-dung-gia-dinh">Đồ dùng gia đình</a><i class="fa fa-angle-double-down"></i>
            <ul class="nav fix-ul1">
                                                                    <li>
                    <a href="/moki.vn/Phòng bếp">Phòng bếp</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Phòng tắm giặt">Phòng tắm, giặt</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Phòng khách">Phòng khách</a>
                </li>
                                                                <li>
                    <a href="/moki.vn/Phòng ngủ">Phòng ngủ</a>
                </li>
                                                        </ul>
    </li>
                                                               
        <li>
                    <a class="title-text" href="/moki.vn/San-pham-khac-297.html">
                <label class="tt">Sản phẩm khác</label>
            </a>
            </li>
    </ul>
</nav>
</div>
<br><br>
<div id ="bia" >
<img src="/imagei/a12.jpg" width="85%" height="500px">
</div>
<label id="spnew">Sản phẩm mới nhất</label>
<table id="info-left">
    <%if(SP.length<5){%>
        <%SP.forEach(function(data){%>
            <tr>
                    <th class="info-1">
                <span class="card card-body mb-3">
                    <%if(user){%>
                <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="/image/<%= data.image %>" alt="" width="100px" height="100px"></a>
            <%}else{%>
            <a href="/sp/sp/<%-data._id%>*">  <img src="/image/<%= data.image %>" alt="" width="100px" height="100px"></a>
            
            <%}%>
            </span>
            </th>
            <th class="info-2">
            <span class ="ten" id = "ten-1"><%= data.name%></span><br>
            <div class="stars">
                <form action="">
                  <input class="star star-5"  type="radio" name="star" checked/>
                  <label class="star star-5" for="star-5"></label>
                  <input class="star star-4"  type="radio" name="star"/>
                  <label class="star star-4" for="star-4"></label>
                  <input class="star star-3"  type="radio" name="star"/>
                  <label class="star star-3" for="star-3"></label>
                  <input class="star star-2"  type="radio" name="star"/>
                  <label class="star star-2" for="star-2"></label>
                  <input class="star star-1"  type="radio" name="star"/>
                  <label class="star star-1" for="star-1"></label>
                </form>
              </div><br>
            <span class ="gia" id = "gia-1"><%= data.price%></span>
            </th>
            </tr>
            <%})%>
        <%}else{%>
<%for(var i=0;i<5;i++){%>
    <tr>
        <th class="info-1">
    <span class="card card-body mb-3">
        <%if(user){%>
    <a href="/sp/sp/<%-SP[i]._id%>*<%-user.username%>">  <img src="/image/<%= SP[i].image %>" alt="" width="100px" height="100px"></a>
<%}else{%>
<a href="/sp/sp/<%-SP[i]._id%>*">  <img src="/image/<%= SP[i].image %>" alt="" width="100px" height="100px"></a>

<%}%>
</span>
</th>
<th class="info-2">
<span class ="ten" id = "ten-1"><%= SP[i].name%></span><br>
<div class="stars">
    <form action="">
      <input class="star star-5"  type="radio" name="star" checked/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4"  type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3"  type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2"  type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
  </div><br>
<span class ="gia" id = "gia-1"><%= SP[i].price%></span>
</th>
</tr>
<%}%>
<%}%>
</table><br><br>
<div class="wrapper-nav1">
    <nav class="nav-main1">
<div id ="bia2" >
    <img class="imagebia" src="/imagei/moki.jpg" width="85%" height="500px">
    </div>
</nav>
</div>
</div>
<!-- NAV ENDS HERE -->
