
<% include template/body1 %>
<div id = "container">
    <!-- header starts here-->
<div id="container_inner_header">
    <% include template/header %>
</div>
<div id ="container_inner">

    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id="container_inner_content" >
<div id ="container_inner_content-inner">
  <div>
<div id="first"><table id="first-table"><tr><th>
<div class="first-inner first2-inner" id="first2-inner"><img src="imagei/first2.jpg" alt="" class="img1"></div></th><th>
<div class="first-inner first1-inner" id="first1-inner"><img src="imagei/first1.jpg" alt="" class="img1"></div></th>
</tr>
</table>
</div>
<div class="section-header text-center">
    <h2>Sản phẩm ưu đãi nổi bật</h2>
 </div>
 <div id="list_uudai">
   <table id="table_uudai">
    <tr>
        <i class="fa fa-angle-left" id="Previous" data-toggle="tooltip" data-placement="top"></i>
    <%for(var i=0;i<SP.length;i++){%>
          <th class="slide" stt="<%-i%>">
        <span class="card card-body mb-3">
            <%if(user){%>
        <a href="/sp/sp/<%-SP[i]._id%>*<%-user.username%>">  <img src="/image/<%= SP[i].image %>" alt="" width="250px" height="250px"></a>
    <%}else{%>
    <a href="/sp/sp/<%-SP[i]._id%>*">  <img src="/image/<%= SP[i].image %>" alt="" width="250px" height="250px"></a>
    
    <%}%>
    </span>
    <span class ="ten" id = "ten-1"><%= SP[i].name%></span><br>
    <div class="stars">
        <form action="">
          <input class="star star-5"  type="radio" name="star" checked/>
          <label class="star star-5" for="star-5"></label>
          <input class="star star-4"  type="radio" name="star"/>
          <label class="star star-4" for="star-4"></label>
          <input class="star star-3"  type="radio" name="star"/>
          <label class="star star-3" for="star-3"></label>
          <input class="star star-2"  type="radio" name="star"/>
          <label class="star star-2" for="star-2"></label>
          <input class="star star-1"  type="radio" name="star"/>
          <label class="star star-1" for="star-1"></label>
        </form>
      </div><br>
    <span class ="gia" id = "gia-1"><%= SP[i].price%></span>
    </th>
    <%}%>
    <i class="fa fa-angle-right" id="Next" data-toggle="tooltip" data-placement="top"></i>
  </tr>
    </table></div>
</div></div>
       <div class="container-inner-frame" id="container-inner-frame1">
          <div class="container-inner-frame-inner">
            <div class="container-inner-image" id="container-inner-image1">
              <img class="image1" src="imagei/bean.jpg">
            </div>
            <div class="container-inner-list">
              <div class="container-inner-title">
                <div class="container-inner-title1">
                  <div class="group-left">
                    <div class="pb-link">
                        <div class="pb-heading">
                          <a href="/moki.vn/Be-an">Bé ăn</a>
                        </div>
                       <div class="pb-link">
                                                                               <li class="shopby-collection-link">
                                   <a href="/moki.vn/Ghế ăn bột cho bé" class=" current">
                                      <span>Ghế ăn bột cho bé</span>
                                   </a>
                                </li>
                                                         <li class="shopby-collection-link">
                                   <a href="/moki.vn/Bình sữa và phụ kiện" class=" current">
                                      <span>Bình sữa và phụ kiện</span>
                                   </a>
                                </li>
                                                         <li class="shopby-collection-link">
                                   <a href="/moki.vn/Sữa bột các loại" class=" current">
                                      <span>Sữa bột các loại</span>
                                   </a>
                                </li>
                                                         <li class="shopby-collection-link">
                                   <a href="/moki.vn/Bột Cháo Bánh ăn dặm" class=" current">
                                      <span>Bột, Cháo, Bánh ăn dặm</span>
                                   </a>
                                </li>
                                                         <li class="shopby-collection-link">
                                   <a href="/moki.vn/Đồ dùng phục vụ ăn uống" class=" current">
                                      <span>Đồ dùng phục vụ ăn uống</span>
                                   </a>
                                </li>
                                                         <li class="shopby-collection-link">
                                   <a href="/moki.vn/Thực phẩm đóng hộp cho bé" class=" current">
                                      <span>Thực phẩm đóng hộp cho bé</span>
                                   </a>
                                </li>
                                                                      </div>
                    </div>
                  </div>
                </div><br>
                <img src="imagei/bean1.jpg" width="250px" height="350px">
              </div>
              <div class="container-inner-listimage">
                <div class="container-inner-listimage1">
                  <% bean.forEach((data)=>{%>
                    
                   
                          <div class="wrapper-image">
                  <%if(user){%>
                              <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                              <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                              <div class="stars">
                                <form action="">
                                  <input class="star star-5" type="radio" name="star" checked/>
                                  <label class="star star-5" for="star-5"></label>
                                  <input class="star star-4"  type="radio" name="star"/>
                                  <label class="star star-4" for="star-4"></label>
                                  <input class="star star-3"  type="radio" name="star"/>
                                  <label class="star star-3" for="star-3"></label>
                                  <input class="star star-2"  type="radio" name="star"/>
                                  <label class="star star-2" for="star-2"></label>
                                  <input class="star star-1"  type="radio" name="star"/>
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div><br>
                             <span class ="gia" id = "gia-1"><%= data.price%></span>
                   <%}else{%>
                    <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                   <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                   <div class="stars">
                    <form action="">
                      <input class="star star-5"  type="radio" name="star" checked/>
                      <label class="star star-5" for="star-5"></label>
                      <input class="star star-4"  type="radio" name="star"/>
                      <label class="star star-4" for="star-4"></label>
                      <input class="star star-3"  type="radio" name="star"/>
                      <label class="star star-3" for="star-3"></label>
                      <input class="star star-2"  type="radio" name="star"/>
                      <label class="star star-2" for="star-2"></label>
                      <input class="star star-1"  type="radio" name="star"/>
                      <label class="star star-1" for="star-1"></label>
                    </form>
                  </div><br>
                    <span class ="gia" id = "gia-1"><%= data.price%></span>

                    <%}%>
                    
                          </div>
           
                       
                  
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="container-inner-frame" id="container-inner-frame1">
        <div class="container-inner-frame-inner">
          <div class="container-inner-image" id="container-inner-image1">
            <img class="image1" src="imagei/bemac.jpg">
          </div>
          <div class="container-inner-list">
            <div class="container-inner-title">
              <div class="container-inner-title1">
                <div class="group-left">
                  <div class="pb-link">
                      <div class="pb-heading">
                        <a href="https://moki.vn/Be-mac-39.html">Bé mặc</a>
                      </div>
                     <div class="pb-link">
                                                                             <li class="shopby-collection-link">
                                 <a href="https://moki.vn/Giay-dep-cho-be-40.html" class=" current">
                                    <span>Giày dép cho bé</span>
                                 </a>
                              </li>
                                                       <li class="shopby-collection-link">
                                 <a href="https://moki.vn/Mu-thoi-trang-41.html" class=" current">
                                    <span>Mũ thời trang</span>
                                 </a>
                              </li>
                                                       <li class="shopby-collection-link">
                                 <a href="https://moki.vn/Do-so-sinh-42.html" class=" current">
                                    <span>Đồ sơ sinh</span>
                                 </a>
                              </li>
                                                       <li class="shopby-collection-link">
                                 <a href="https://moki.vn/Phu-kien-thoi-trang-khac-50.html" class=" current">
                                    <span>Phụ kiện thời trang khác</span>
                                 </a>
                              </li>
                                                       <li class="shopby-collection-link">
                                 <a href="https://moki.vn/Thoi-trang-cho-be-51.html" class=" current">
                                    <span>Thời trang cho bé</span>
                                 </a>
                              </li>
                                                                    </div>
                  </div>
                </div>
              </div>
              <br>
              <img src="imagei/bemac1.jpg" width="250px" height="350px">
            </div>
            <div class="container-inner-listimage">
              <div class="container-inner-listimage1">
                <% bemac.forEach((data)=>{%>
                  
                        <div class="wrapper-image">
                <%if(user){%>
                            <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                            <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                            <div class="stars">
                              <form action="">
                                <input class="star star-5"  type="radio" name="star" checked/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4"  type="radio" name="star"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3"  type="radio" name="star"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2"  type="radio" name="star"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1"  type="radio" name="star"/>
                                <label class="star star-1" for="star-1"></label>
                              </form>
                            </div><br>
                          <span class ="gia" id = "gia-1"><%= data.price%></span>
                 <%}else{%>
                  <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                <div class="stars">
                  <form action="">
                    <input class="star star-5"  type="radio" name="star" checked/>
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" type="radio" name="star"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" type="radio" name="star"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2"  type="radio" name="star"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1"  type="radio" name="star"/>
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div><br>
                 <span class ="gia" id = "gia-1"><%= data.price%></span>

                  <%}%>
                        </div>
         
                     
                
                <% }) %>
              </div>
            </div>
          </div>
        </div>
     </div>

     <div class="container-inner-frame" id="container-inner-frame1">
      <div class="container-inner-frame-inner">
        <div class="container-inner-image" id="container-inner-image1">
          <img class="image1" src="imagei/bengu.png">
        </div>
        <div class="container-inner-list">
          <div class="container-inner-title">
            <div class="container-inner-title1">
              <div class="group-left">
                <div class="pb-link">
                    <div class="pb-heading">
                      <a href="https://moki.vn/Be-ngu-268.html">Bé ngủ</a>
                    </div>
                   <div class="pb-link">
                                                                           <li class="shopby-collection-link">
                               <a href="https://moki.vn/Giuong-ngu-giuong-tang-269.html" class=" current">
                                  <span>Giường ngủ, giường tầng</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Noi-xach-em-be-270.html" class=" current">
                                  <span>Nôi xách em bé</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Chan-dem-chieu-goi-271.html" class=" current">
                                  <span>Chăn đệm chiếu gối</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Bo-quay-cui-276.html" class=" current">
                                  <span>Bộ quây cũi</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Noi-dien-tu-dong-277.html" class=" current">
                                  <span>Nôi điện tự động</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Cui-cho-be-278.html" class=" current">
                                  <span>Cũi cho bé</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Ghe-rung-cho-be-279.html" class=" current">
                                  <span>Ghế rung cho bé</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Chan-giuong-280.html" class=" current">
                                  <span>Chặn giường</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Noi-ngu-chung-giuong-281.html" class=" current">
                                  <span>Nôi ngủ chung giường</span>
                               </a>
                            </li>
                                                     <li class="shopby-collection-link">
                               <a href="https://moki.vn/Den-ngu-may-bao-khoc-ru-ngu-282.html" class=" current">
                                  <span>Đèn ngủ, máy báo khóc, ru ngủ</span>
                               </a>
                            </li>
                                                                  </div>
                </div>
              </div>
            </div>
            <br>
            <img src="imagei/bengu1.jpeg" width="250px" height="300px">
          </div>
          <div class="container-inner-listimage">
            <div class="container-inner-listimage1">
              <% bengu.forEach((data)=>{%>
                
               
                      <div class="wrapper-image">
              <%if(user){%>
                          <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                          <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                          <div class="stars">
                            <form action="">
                              <input class="star star-5"  type="radio" name="star" checked/>
                              <label class="star star-5" for="star-5"></label>
                              <input class="star star-4"  type="radio" name="star"/>
                              <label class="star star-4" for="star-4"></label>
                              <input class="star star-3"  type="radio" name="star"/>
                              <label class="star star-3" for="star-3"></label>
                              <input class="star star-2"  type="radio" name="star"/>
                              <label class="star star-2" for="star-2"></label>
                              <input class="star star-1"  type="radio" name="star"/>
                              <label class="star star-1" for="star-1"></label>
                            </form>
                          </div><br>
                        <span class ="gia" id = "gia-1"><%= data.price%></span>
               <%}else{%>
                <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
              <span class ="ten" id = "ten-1"><%= data.name%></span><br>
              <div class="stars">
                <form action="">
                  <input class="star star-5"  type="radio" name="star" checked/>
                  <label class="star star-5" for="star-5"></label>
                  <input class="star star-4"  type="radio" name="star"/>
                  <label class="star star-4" for="star-4"></label>
                  <input class="star star-3"  type="radio" name="star"/>
                  <label class="star star-3" for="star-3"></label>
                  <input class="star star-2"  type="radio" name="star"/>
                  <label class="star star-2" for="star-2"></label>
                  <input class="star star-1"  type="radio" name="star"/>
                  <label class="star star-1" for="star-1"></label>
                </form>
              </div><br>
               <span class ="gia" id = "gia-1"><%= data.price%></span>

                <%}%>
                      </div>
       
                   
              
              <% }) %>
            </div>
          </div>
        </div>
      </div>
   </div>

   <div class="container-inner-frame" id="container-inner-frame1">
    <div class="container-inner-frame-inner">
      <div class="container-inner-image" id="container-inner-image1">
        <img class="image1" src="imagei/betam.jpeg">
      </div>
      <div class="container-inner-list">
        <div class="container-inner-title">
          <div class="container-inner-title1">
            <div class="group-left">
              <div class="pb-link">
                  <div class="pb-heading">
                    <a href="https://moki.vn/Be-tam-232.html">Bé tắm</a>
                  </div>
                 <div class="pb-link">
                                                                         <li class="shopby-collection-link">
                             <a href="https://moki.vn/Chau-tam-va-phu-kien-233.html" class=" current">
                                <span>Chậu tắm và phụ kiện</span>
                             </a>
                          </li>
                                                   <li class="shopby-collection-link">
                             <a href="https://moki.vn/Do-nhiet-do-tam-cho-be-234.html" class=" current">
                                <span>Đo nhiệt độ tắm cho bé</span>
                             </a>
                          </li>
                                                   <li class="shopby-collection-link">
                             <a href="https://moki.vn/Khan-mat-Khan-tam-cho-be-235.html" class=" current">
                                <span>Khăn mặt, Khăn tắm cho bé</span>
                             </a>
                          </li>
                                                   <li class="shopby-collection-link">
                             <a href="https://moki.vn/Do-choi-khi-tam-236.html" class=" current">
                                <span>Đồ chơi khi tắm</span>
                             </a>
                          </li>
                                                   <li class="shopby-collection-link">
                             <a href="https://moki.vn/Sua-tam-dau-goi-237.html" class=" current">
                                <span>Sữa tắm, dầu gội</span>
                             </a>
                          </li>
                                                   <li class="shopby-collection-link">
                             <a href="https://moki.vn/Mu-chan-nuoc-238.html" class=" current">
                                <span>Mũ chắn nước</span>
                             </a>
                          </li>
                                                                </div>
              </div>
            </div>
          </div>
          <br>
                <img src="imagei/betam1.jpeg" width="250px" height="350px">
        </div>
        <div class="container-inner-listimage">
          <div class="container-inner-listimage1">
            <%  betam.forEach((data)=>{%>
              
             
                    <div class="wrapper-image">
            <%if(user){%>
                        <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                        <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                        <div class="stars">
                          <form action="">
                            <input class="star star-5"  type="radio" name="star" checked/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4"  type="radio" name="star"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3"  type="radio" name="star"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2"  type="radio" name="star"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1"  type="radio" name="star"/>
                            <label class="star star-1" for="star-1"></label>
                          </form>
                        </div><br>
                      <span class ="gia" id = "gia-1"><%= data.price%></span>
             <%}else{%>
              <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
            <span class ="ten" id = "ten-1"><%= data.name%></span><br>
            <div class="stars">
              <form action="">
                <input class="star star-5"  type="radio" name="star" checked/>
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4"  type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3"  type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2"  type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1"  type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
              </form>
            </div><br>
             <span class ="gia" id = "gia-1"><%= data.price%></span> 

              <%}%>
                    </div>
     
                 
            
            <% }) %>
          </div>
        </div>
      </div>
    </div>
 </div>

 <div class="container-inner-frame" id="container-inner-frame1">
  <div class="container-inner-frame-inner">
    <div class="container-inner-image" id="container-inner-image1">
      <img class="image1" src="imagei/bevesinh.jpg">
    </div>
    <div class="container-inner-list">
      <div class="container-inner-title">
        <div class="container-inner-title1">
          <div class="group-left">
            <div class="pb-link">
                <div class="pb-heading">
                  <a href="https://moki.vn/Be-ve-sinh-54.html">Bé vệ sinh</a>
                </div>
               <div class="pb-link">
                                                                       <li class="shopby-collection-link">
                           <a href="https://moki.vn/Ve-sinh-toc-tai-tay-chan-rang-mieng-55.html" class=" current">
                              <span>Vệ sinh tóc, tai, tay, chân, răng, miệng</span>
                           </a>
                        </li>
                                                 <li class="shopby-collection-link">
                           <a href="https://moki.vn/Kem-ham-duong-da-phan-rom-62.html" class=" current">
                              <span>Kem hăm, dưỡng da, phấn rôm</span>
                           </a>
                        </li>
                                                 <li class="shopby-collection-link">
                           <a href="https://moki.vn/Bim-va-ta-giay-cho-be-67.html" class=" current">
                              <span>Bỉm và tã giấy cho bé</span>
                           </a>
                        </li>
                                                 <li class="shopby-collection-link">
                           <a href="https://moki.vn/Giay-uot-va-may-u-giay-uot-68.html" class=" current">
                              <span>Giấy ướt và máy ủ giấy ướt</span>
                           </a>
                        </li>
                                                 <li class="shopby-collection-link">
                           <a href="https://moki.vn/Bo-ve-sinh-nap-toilet-69.html" class=" current">
                              <span>Bô vệ sinh, nắp toilet</span>
                           </a>
                        </li>
                                                 <li class="shopby-collection-link">
                           <a href="https://moki.vn/Tam-lot-chong-tham-70.html" class=" current">
                              <span>Tấm lót chống thấm</span>
                           </a>
                        </li>
                                                              </div>
            </div>
          </div>
        </div>
        <br>
            <img src="imagei/bevesinh1.jpeg" width="250px" height="300px">
      </div>
      <div class="container-inner-listimage">
        <div class="container-inner-listimage1">
          <% bevesinh.forEach((data)=>{%>

                  <div class="wrapper-image">
          <%if(user){%>
                      <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                      <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                      <div class="stars">
                        <form action="">
                          <input class="star star-5"  type="radio" name="star" checked/>
                          <label class="star star-5" for="star-5"></label>
                          <input class="star star-4"  type="radio" name="star"/>
                          <label class="star star-4" for="star-4"></label>
                          <input class="star star-3"  type="radio" name="star"/>
                          <label class="star star-3" for="star-3"></label>
                          <input class="star star-2"  type="radio" name="star"/>
                          <label class="star star-2" for="star-2"></label>
                          <input class="star star-1"  type="radio" name="star"/>
                          <label class="star star-1" for="star-1"></label>
                        </form>
                      </div><br>
                    <span class ="gia" id = "gia-1"><%= data.price%></span>
           <%}else{%>
            <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
          <span class ="ten" id = "ten-1"><%= data.name%></span><br>
          <div class="stars">
            <form action="">
              <input class="star star-5"  type="radio" name="star" checked/>
              <label class="star star-5" for="star-5"></label>
              <input class="star star-4"  type="radio" name="star"/>
              <label class="star star-4" for="star-4"></label>
              <input class="star star-3"  type="radio" name="star"/>
              <label class="star star-3" for="star-3"></label>
              <input class="star star-2"  type="radio" name="star"/>
              <label class="star star-2" for="star-2"></label>
              <input class="star star-1"  type="radio" name="star"/>
              <label class="star star-1" for="star-1"></label>
            </form>
          </div><br>
           <span class ="gia" id = "gia-1"><%= data.price%></span>

            <%}%>
                  </div>
   
               
          
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- <div id="container-register" >
    <div class="register-validator" hidden></div> 
  <div class="checkout_info_price">
    <div class="headings">
      <h5>Đăng ký </h5>
    </div><hr>
    <div class="content">
      <form class="form-horizontal form-validate" >	<div class="form-group">
        <div class="col-sm-6 col-sm-offset-3" id="tb">
          <p style="word-break: break-word;">Tài khoản cần được kích hoạt bằng số điện thoại</p>
          <p>Số điện thoại của bạn sẽ được bảo mật</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <div class="input number required"><label class="col-sm-3 control-label">Số điện thoại:</label><input id="input" name="PhoneNumber" class="form-control" placeholder="Xin vui lòng nhập số điện thoại" autofocus="autofocus"  type="number"  required="required" ></div>	
                        </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input password required">  <label class="col-sm-3 control-label">Mật khẩu:</label><input name="password" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập mật khẩu" type="password" id="password" required="required"/></div>										</div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="">
                  <div class="g-recaptcha" data-theme="light" data-sitekey="6LdOcCkTAAAAAIs5kfNrv0bmM7CxHEnHeoI_X1PH" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-3">
                <span class="text-name">Bằng việc bạn click nút <span class="register-link">Đăng ký</span>. Bạn đã đồng ý với <label style="color: #f16e8e" class="dieukhoan-link"><a href="/trang/dieu-khoan-dich-vu-5.html">Điều khoản dịch vụ</a></label> của <span class="register-link">MOKI</span>
              </div>
            </div>
            <div class="form-group hidden-xs">
              <div  class="col-sm-6 col-sm-offset-3">
                <button id ="btdk" class="btn btn-default text-right" >Đăng ký</button>										</div>
            </div>
              </form>									</div>
          </div>
</div>

<div id="container-sms-verify" >
          <div class="col-md-8 col-md-offset-2">
            <div class="checkout_info_price">
              <div class="headings">
                <h5>Đăng ký</h5><hr>
              </div>
              <div class="content">
                <form class="form-horizontal form-validate" id="UserAccuracyForm" >					<div class="form-group">
                  <div class="col-sm-6 col-sm-offset-3">
                                                                <p style="word-break: break-word">Chúng tôi đã gửi mã xác nhận đến tin nhắn của số điện thoại mà bạn đăng ký</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Mã xác nhận:</label>
                  <div class="col-sm-6">
                    <div class="input number"><input name="code" class="Confirm-number" placeholder="Xin vui lòng nhập mã xác nhận" autofocus="autofocus" type="number" id="UserCodeVerify" required="true"/><label id="error-code" style="color: red; "></label></div>								</div>
                  </div>
                  <div class="form-group hidden-xs" style="margin-top: 50px;">
                    <div class="col-sm-6 col-sm-offset-3">
                      <button id="code_verify" class="btn btn-default text-right btn-verify" data-blocked="0" >Xác minh</button>								</div>
                  </div>
                </form>							</div>
                </div>
              </div>

</div>

<div id="container-updatelogin">
    <div class="checkout_info_price1">
        <style>
             #lb-avatar{
                padding: 10px;
                height: 90px;
                width: 90px;
                background: rgb(233, 222, 222); 
                display: table;
                color: #fff;
            }
            #lb-avatar img{
              margin-top: 35px;
              margin-left: 30px;
              height: 30px;
            }
             #show-photo{
                margin-top: -110px;
                margin-left: 140px;
                padding: 10px;
                height: 90px;
                width: 90px;
                background: rgb(233, 222, 222); 
                display: table;
                color: #fff;
            }
             #UserRegisterForm li, div > p {
              background: #fff;
              display: flex;
              justify-content: space-between;
              list-style-type: none;
            }
            
            #UserRegisterForm img {
              height: 90px;
              order: 1;
            }
            
            #UserRegisterForm p {
             height: 90px;
              margin-block-start: 0em;
              margin-block-end: 0em;
            }
            </style>
            <div class="headings">
              <h5>Đăng ký </h5>
            </div><hr>
            <div class="content">
              <form class="form-horizontal form-validate" id="UserRegisterForm" enctype="multipart/form-data">
                   <label>Avatar</label> <label  class="col-sm-3 control-label" id="lb-avatar"><img src="/imagei/photo.png"><br><input name="Avatar" id="avatar" type="file" accept="image/png, image/jpeg,image/gif,image/jpg" ></label>
                    <div id="show-photo" class="preview"><p>Chưa tải ảnh</p></div>
              <div class="form-group">
                <div class="col-sm-6">
              <input type="text" name="sdt" id="sdt" value="" hidden>
                  <div class="input number required"><label class="col-sm-3 control-label">Email:</label><input name="Email" class="form-control" placeholder="Xin vui lòng nhập email" type="email" id="email" required="true" ></div>	
                                                </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-6">
                      <div class="input password required">  <label class="col-sm-3 control-label">User name:</label><input name="username" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập tên tài khoản" type="text" id="username" required="true"/></div>										</div>
                    </div>
    
                    <div class="form-group">
                            <div class="col-sm-6">
                              <div class="input number required"><label class="col-sm-3 control-label">First name:</label><input  name="First" id="firstname" class="form-control" placeholder="Xin vui lòng nhập first name" type="text"  required="true"></div>	
                                                            </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-6">
                                  <div class="input password required">  <label class="col-sm-3 control-label">Last name:</label><input name="Last" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập last name"  type="text" id="lastname" required="true"/></div>										</div>
                                </div>
                                <div class="form-group">
                                        <div class="col-sm-6">
                                          <div class="input number required"><label class="col-sm-3 control-label">Adress:</label><input name="Address" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập địa chỉ" type="text" id="address" required="true"/></div>	
                                                                        </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-6">
                                              <div class="input password required">  <label class="col-sm-3 control-label">City:</label><input name="City" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập thành phố"   type="text" id="city" required="true"/></div>										</div>
                                            </div>    
                                            <label id="error-username"></label>             
                        <input id ="btud" class="btn btn-default text-right" type="button" value="Cập nhật thông tin	">									
                  
                        </form>									</div>
                  </div>
                  <script>
                      var input = document.querySelector('#avatar');
                      var preview = document.querySelector('.preview');
                      input.style.opacity = 0;
                      input.addEventListener('change', updateImageDisplay);
                      function updateImageDisplay() {
                        while(preview.firstChild) {
                          preview.removeChild(preview.firstChild);
                        }
                        var curFiles = input.files;
                        if(curFiles.length === 0) {
                          var para = document.createElement('p');
                          para.textContent = 'No files currently selected for upload';
                          preview.appendChild(para);
                        } else {
                          var list = document.createElement('p');
                          preview.appendChild(list);
                          for(var i = 0; i < curFiles.length; i++) {
                              var image = document.createElement('img');
                              image.src = window.URL.createObjectURL(curFiles[i]);
                            list.appendChild(image);
                          }
                        }
                      }
                      var fileTypes = [
                        'image/jpeg',
                        'image/pjpeg',
                        'image/png'
                      ]
                      
                      function validFileType(file) {
                        for(var i = 0; i < fileTypes.length; i++) {
                          if(file.type === fileTypes[i]) {
                            return true;
                          }
                        }
                        return false;
                      }
                      
                      </script>   

</div> -->

</div>
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
<% include template/body2 %>
