<!-- <% var i=0  %>
<% var j=0  %> -->
<% include template/body1 %>
<div id = "container">
    <!-- header starts here-->
<% include template/header %>
<div id ="container_inner">
    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id = "container_inner_content">
<div id ="container_inner_content-inner">

<h2><%=title%></h2>
    <!-- <div class="title-sp">
       Danh sách sản phẩm
      </div> -->
      <%if(title.valueOf()=="Bé ăn".valueOf()){%>
      <img src="/imagei/bean.jpg">
        <%}%>
        <%if(title.valueOf()=="Bé mặc".valueOf()){%>
            <img src="/imagei/bemac.jpg">
              <%}%>
        <%if(title.valueOf()=="Bé ngủ".valueOf()){%>
                <img src="/imagei/bengu.png">
                  <%}%>
        <%if(title.valueOf()=="Bé tắm".valueOf()){%>
                    <img src="/imagei/betam.jpeg">
                      <%}%>
        <%if(title.valueOf()=="Bé vệ sinh".valueOf()){%>
                        <img src="/imagei/bevesinh.jpg">
                          <%}%>
      <div class="cuon-1" id =" frame-1">
        <table class="table-listproduct">
                <tr class="table-listproduct">
                    <% if(kq.length==0){%>
                     <h2>Không tìm thấy sản phẩm </h2>
                      
                  <% } else {  kq.forEach((data)=>{%>
                    <th style="display:inline-block;" class="table-listproduct">
                        <a href="/sp/sp/<%= data._id%>"><img id="0" src="/image/<%= data.image%>" width="270px" height="270px"></a><br>
                        <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                        <span class ="gia" id = "gia-1"><%= data.price%></span><br>    
                    </th>
                  <% })} %>
                  
                </tr>
        </table>
      </div>


</div>
</div>
</div>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
<% include template/body2 %>

