<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/themsanpham.js"></script>
    <script src="/js/jqurey.js"></script>
    <script src="/js/chucnang.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOKI</title>
    <link rel="stylesheet" href="/css/themsanpham.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      #user img{
        width: 18px;
        height: 18px;  
      }
      #add_image tr td #lb-avatar{
          background-color: rgb(182, 181, 181);
          background-image: url(../imagei/photo.png);
          background-repeat: no-repeat;
          background-position-x: 20px;
          background-position-y: 20px;
      }
      #add_image tr td #show-photo{
          background-color: rgb(182, 181, 181);
          margin-bottom: 15px;
      }
    </style>
</head>
<body>
    	<!-- HEADER STARTS HERE -->
<div id="header">
    <div id="header-inner">
        <div id="header-inner1">

                <div id = "header-inner1-left">
                        <div id="phone_support">
                                <i class="fa fa-phone" aria-hidden="true"></i> Hotline: <span>1900</span> <span>636</span> <span>779</span>
                             </div>
                    </div>

                <div id = "header-inner1-right">
                        <ul>
                                <% if(!user){ %>
                                    <li>
                                        <a href="#" >Sản phẩm giảm giá  |  </a>
                                    </li>
                                    <li>
                                        <a href="#" >Sản phẩm mới  |  </a>
                                    </li>
                                    <li>
                                        <a href="#" >Sản phẩm khuyến mại  |  </a>
                                    </li>
                              
                                  <li>
                                    <a href="/login" >Đăng nhập  |  </a>
                                </li>
                                <li>
                                      <a href="/signup" >Đăng kí</a>
                                  </li>
                                  
                                  <%}%>
                                  <% if(user) {%>
                                    <li>
                                        <a href="#" >Chào mừng bạn đến với MOKI |</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-flag-checkered" aria-hidden="true" style="color: #ffffff"></i><a href="#" >Kiểm tra đơn hàng | </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #ffffff"></i><a href="#" >Giỏ hàng | </a>
                                    </li>
                                  <li>
                                      <a href="/add_product" >Thêm sản phẩm  |  </a> 
                                  </li>
                                  <li>
                                        <a href="/likeList/<%-user.username%>" >Đã thích  |  </a>
                                    </li>
                                  <li>
                                      <a href="/logout/<%=user.username%>">Đăng xuất  |  </a>
                                  </li>
                                  <li id = "user">
                                   
                                    <a  href="/userinformation/<%-user.username%>"><img id="user-avatar" src="/upload/<%-user.avatar%>" height="18px" width="18px">Hello: <%- user.username%></a>
                                    <!-- <ul id="user-option">
                                         <li><a href="/user/changePassword">Thay đổi mật khẩu</a></>
                                         <li><a href="/userinformation/<%-user.username%>">Thông tin tài khoản</a></li>
                                   </ul> -->
                                </li>
                                      <%}%>
                            </ul>
                </div>
        </div>

        <div id="header-inner2">
            <div id="header-inner2-left">
                    <div id = "header-inner2-left-image">
                            <a href="/">  <img id="image-moki" src ="https://moki.vn/moki/themes/img/logo_big.png" alt ="Moki.vn - Ứng dụng mua bán trên di động | moki.vn" class = "image" > </a>
                          </div>
            </div>

            

            <div id="header-inner2-right">
                <div id="header-inner2-right-1">
                        <div id="header-inner2-right-search">
                                <form action="/search" method="POST" class="header-inner2-form" id="ProductsSearchProductForm" role="search">
                                    <input class="header-inner2-form-input" type="search" placeholder="Tìm kiếm sản phẩm"  value="" name="product_name" id="product_name" required="" >
                                    <!-- <input type="radio" name="searchUser"><label>Tìm kiếm Username &nbsp&nbsp </label> -->
                                    <button class="header-inner2-form-button" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        
                                    </button>
                                </form>
                              </div>
                </div>
                <div id="header-inner2-right-2" class="wrapper-nav">
                        <nav class="nav-main">
                   <div id="header-inner2-right-2-inner">
                        <span class="header-inner2-link"><a href="/"> TRANG CHỦ</a></span>
                    <span class="header-inner2-link"><a href="#"> LỊCH SỬ</a></span>
                    <span class="header-inner2-link"><a href="#"> VOUCHER GIẢM GIÁ</a></span>
                        <span id ="header1-inner2-icon">
                                <a href="https://www.facebook.com/moki.vn" target="_blank"> <i class = "fa fa-facebook-square"></i></a>
                                <a href="https://www.youtube.com/channel/UCM7dLGfHJ6onxoY3StztfwQ/" target="_blank"> <i class = "fa fa-youtube-square"></i></a>
                                <a href="https://twitter.com/MOKI_VN" target="_blank"> <i class = "fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-instagram"></i></a>
                                <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-skype"></i></a>
                                <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-globe"></i></a>
                              </s>
                   </div>
                   </nav>
                </div>
            </div>
        </div>

    </div>
</div><br><br><br>
               <!-- HEADER ENDS HERE -->
      <div class="row">
        <div class="column side" id="menuleft">
          <div id="sidebar">
            
         </div>
        </div>

        <div class="column middle">
          <% if(err){ %>
            <% err.forEach(function(error){%>
          <ul style="list-style: none;">
            <li><%- error.msg%></li>
          </ul>
          <%})%>
            <%}%>
            <div id="wrapper-addsp">
                <div class="container">
                    <div class="row">
                      <div class="wrapper-image1" style="margin-left: 200px">
                        <h1 class="text-center display-4 my-4">Thêm ảnh</h1>
                        <form action="/add_product" method="POST" enctype="multipart/form-data">
                          <table id="add_image">
                              <tr>
                                  <td ><label id="lb-avatar" style="height: 90px; width: 90px; float: right;"><br><input name="file" id="avatar" type="file" accept="image/png, image/jpeg,image/gif,image/jpg" ></label></td>
                                  <td>
                                    <div id="show-photo" class="preview" style="height: 90px; width: 90px"><p>Chưa tải ảnh</p></div>
                                  </td>
                              </tr>
                          </table>
                      </div>
                    </div>
            </div>
         
            <div class="add">
               
                <div style="display:inline;">
                <div style="display:flex;">
                    <p id="name" style="font-size:1em;font-weight:bold;">Tên sản phẩm</p>
                    <input type="text" id ="textinput" name ="nameproduct">
               </div> <hr>
               <div style="display:flex;">
                   <p id = "description" style="font-size:1em;font-weight:bold;">Mô tả sản phẩm</p>
                   <textarea cols="50" rows="50" id="textarea" name="describleproduct"></textarea>
               </div><hr>
               <div style="display: flex">
                   <p style="font-size:1em;font-weight:bold;">Miễn phí</p>
                   <label class="switch" id="switch1">
                        <input type="checkbox" checked="checked" name="bargainproduct1" id="bargainproduct1">
                        <span class="slider round"></span>
                    </label>
               </div><hr>
               <div style="display: flex">
                <p style="font-size:1em;font-weight:bold;">Bán nhanh</p>
                <label class="switch" id="switch">
                     <input type="checkbox" checked="checked" name="bargainproduct2" id="bargainproduct2">
                     <span class="slider round"></span>
                 </label>
            </div><hr>
               <div style="display: flex" >
                    <p style="font-size:1em;font-weight:bold;">Cho phép mặc cả</p>
                    <label class="switch" id="switch2">
                            <input type="checkbox" checked="checked" name="bargainproduct3" id="bargainproduct3">
                            <span class="slider round"></span>
                    </label>
                </div><hr>
                <div id="product-detail">
                    <label style="font-size:1em;font-weight:bold;">Chi tiết sản phẩm </label><br><hr>
                    <img src="/imagei/danhmuc.png" width="15px" height="15px" style="padding-right: 5px"><label id="product-category">Danh mục</label>
                    <input type="text" name="name" id="product-category-name" value="yêu cầu"><br><hr>

                   <label id="product-state">  <img src="/imagei/status.png" width="15px" height="15px" style="padding-right: 5px"> Trạng thái</label>
                    <input type="text" name="state" id="product-category-state" value="yêu cầu"><br><hr>

                    <label id="product-label"> <img src="/imagei/label.png" width="15px" height="15px" style="padding-right: 5px"> Nhãn hiệu</label>
                    <input type="text" name="label" id="product-category-label" value="yêu cầu"><br><hr>

                    <label id="product-weight"> <img src="/imagei/weight.png" width="15px" height="15px" style="padding-right: 5px"> Khối lượng</label>
                    <input type="text" name="weight" id="product-category-weight" value="yêu cầu"><br><hr>
                </div>
                <div id="product-transport">
                    <label style="font-size:1em;font-weight:bold;">Vận chuyển</label><br><hr>
                   <label id="product-place"> <img src="/imagei/place.png" width="15px" height="15px" style="padding-right: 5px">  Nơi bán</label>
                    <textarea name="sell" id="product-place-sell"></textarea>
                    <br><hr>
                </div>

                <div id="product-price">
                    <label style="font-size:1em;font-weight:bold;"> Giá</label><br><hr>
                    <label ><img src="/imagei/money.png" width="15px" height="15px" style="padding-right: 5px">Giá bán(VND)</label>
                    <input type="number" name="price" id="product-price-input" value=""><br><hr>
                </div>



                <dialog id="product-dialog">
                    <p><i class="fa fa-reply"></i>Danh mục</p>
                    <p id="dialog-detail1">Bé ăn<i class="fa fa-share"></i></p>
                    <p id="dialog-detail2">Bé mặc<i class="fa fa-share"></i></p>
                    <p id="dialog-detail3">Bé ngủ<i class="fa fa-share"></i></p>
                    <p id="dialog-detail4">Bé tắm<i class="fa fa-share"></i></p>
                    <p id="dialog-detail5">Bé vệ sinh<i class="fa fa-share"></i></p>
                </dialog>

                <dialog id="label-dialog">
                    <p><i class="fa fa-reply"></i>Danh mục</p>
                    <p id="label-detail1" class="state">CMAX<i class="fa fa-share"></i></p>
                    <p id="label-detail2" class="state">Made in VietNam<i class="fa fa-share"></i></p>
                    <p id="label-detail3" class="state">Made in Thailand<i class="fa fa-share"></i></p>
                    <p id="label-detail4" class="state">Nhãn hiệu khác<i class="fa fa-share"></i></p>
                </dialog>

                <dialog id="weight-dialog">
                    <p><i class="fa fa-reply"></i>Danh mục</p>
                    <p id="weight-detail1" class="state">Trên 2kg đến 2.5kg<i class="fa fa-share"></i></p>
                    <p id="weight-detail2" class="state">Trên 2.5kg đến 3kg<i class="fa fa-share"></i></p>
                    <p id="weight-detail3" class="state">Trên 3kg đến 3.5kg<i class="fa fa-share"></i></p>
                    <p id="weight-detail4" class="state">Trên 3.5kg đến 4kg<i class="fa fa-share"></i></p>
                    <p id="weight-detail5" class="state">Trên 4kg đến 4.5kg<i class="fa fa-share"></i></p>
                </dialog>

                <dialog id="state-dialog">
                    <p><i class="fa fa-reply"></i>Danh mục</p>
                    <div>
                    <p id="state-detail1" class="state" style="font-size:1em;font-weight:bold;margin-bottom:0px;padding-bottom:0px;">Mới <i class="fa fa-share"></i></p>
                    <p class="state-detail" style="margin-top:0px;padding-top:0px;">Sản phẩm mới 100% chưa qua sử dụng</p>
                </div>
                <div>
                    <p id="state-detail2"  class="state" style="font-size:1em;font-weight:bold;margin-bottom:0px;padding-bottom:0px;">Gần như mới <i class="fa fa-share"></i></p>
                    <p class="state-detail" style="margin-top:0px;padding-top:0px;">Sản phẩm dùng lướt-chất lượng như mới</p>
                </div>
                <div>
                    <p id="state-detail3" class="state" style="font-size:1em;font-weight:bold;margin-bottom:0px;padding-bottom:0px;">Tốt <i class="fa fa-share"></i></p>
                    <p class="state-detail" style="margin-top:0px;padding-top:0px;">Sản phẩm đã qua sử dụng-chất lượng cao</p>
                </div>
                <div>
                    <p id="state-detail4"  class="state" style="font-size:1em;font-weight:bold;margin-bottom:0px;padding-bottom:0px;">Khá tốt<i class="fa fa-share"></i></p>
                    <p class="state-detail" style="margin-top:0px;padding-top:0px;">Sản phẩm đã qua sử dụng-chất lượng đảm bảo</p>
                </div>
                <div>
                    <p id="state-detail5"  class="state" style="font-size:1em;font-weight:bold;margin-bottom:0px;padding-bottom:0px;">Cũ<i class="fa fa-share"></i></p>
                    <p class="state-detail" style="margin-top:0px;padding-top:0px;">Sản phẩm cũ</p>
                </div>
                </dialog>
                  <br>
                  <div style="display:flex">
                    <div>
                        <input type="text" value="<%= user.username%>" name ="nameuser" hidden>
                        <input  id="add" class="button button3" type="submit" name="Đăng sản phẩm" value="Đăng sản phẩm" >
                    </div>
                    <div>
                        <input  class="button button3" type="submit" name="Quay lại" value="Quay lại" >
                    </div>
                  </div>
            </div>
            </div>
          </form>
        
          </div>
        </div>

        <div class="column side"></div>
      </div>
     
      <% include template/footer %>
  
      <script>
      $(document).ready(function(){
          //category
  $("#product-category").click(function(){  
    $("#product-dialog").show();
  })
  //state
  $("#product-state").click(function(){  
    $("#state-dialog").show();
  })
  //label
  $("#product-label").click(function(){  
    $("#label-dialog").show();
  })
  // weight
  $("#product-weight").click(function(){
      $("#weight-dialog").show();
  })
  // weight detail
  $("#weight-detail1").click(function(){
      $("#product-category-weight").val($("#weight-detail1").text());
      $("#product-category-weight").css("opacity","1");
      $("#weight-dialog").hide();
  })
  $("#weight-detail2").click(function(){
      $("#product-category-weight").val($("#weight-detail2").text());
      $("#product-category-weight").css("opacity","1");
      $("#weight-dialog").hide();
  })
  $("#weight-detail3").click(function(){
      $("#product-category-weight").val($("#weight-detail3").text());
      $("#product-category-weight").css("opacity","1");
      $("#weight-dialog").hide();
  })
  $("#weight-detail4").click(function(){
      $("#product-category-weight").val($("#weight-detail4").text());
      $("#product-category-weight").css("opacity","1");
      $("#weight-dialog").hide();
  })
  $("#weight-detail5").click(function(){
      $("#product-category-weight").val($("#weight-detail5").text());
      $("#product-category-weight").css("opacity","1");
      $("#weight-dialog").hide();
  })
  //label detail
  $("#label-detail1").click(function(){
      $("#product-category-label").val($("#label-detail1").text());
      $("#product-category-label").css("opacity","1");
      $("#label-dialog").hide();
  })
  $("#label-detail2").click(function(){
      $("#product-category-label").val($("#label-detail2").text());
      $("#product-category-label").css("opacity","1");
      $("#label-dialog").hide();
  })
  $("#label-detail3").click(function(){
      $("#product-category-label").val($("#label-detail3").text());
      $("#product-category-label").css("opacity","1");
      $("#label-dialog").hide();
  })
  $("#label-detail4").click(function(){
      $("#product-category-label").val($("#label-detail4").text());
      $("#product-category-label").css("opacity","1");
      $("#label-dialog").hide();
  })
  //state detail
  $("#state-detail1").click(function(){
      
      var str=$("#state-detail1").text();
        $("#product-category-state").val(str);
        $("#product-category-state").css("opacity","1");
        $("#state-dialog").hide();
    })
    $("#state-detail2").click(function(){
      
      var str=$("#state-detail2").text();
        $("#product-category-state").val(str);
        $("#product-category-state").css("opacity","1");
        $("#state-dialog").hide();
    })
    $("#state-detail3").click(function(){
      
      var str=$("#state-detail3").text();
        $("#product-category-state").val(str);
        $("#product-category-state").css("opacity","1");
        $("#state-dialog").hide();
    })
    $("#state-detail4").click(function(){
      
      var str=$("#state-detail4").text();
        $("#product-category-state").val(str);
        $("#product-category-state").css("opacity","1");
        $("#state-dialog").hide();
    })
    $("#state-detail5").click(function(){
      
      var str=$("#state-detail5").text();
        $("#product-category-state").val(str);
        $("#product-category-state").css("opacity","1");
        $("#state-dialog").hide();
    })
// category detail
  $("#dialog-detail1").click(function(){
      
    var str=$("#dialog-detail1").text();
      $("#product-category-name").val(str);
      $("#product-category-name").css("opacity","1");
      $("#product-dialog").hide();
  })

    $("#dialog-detail2").click(function(){
      
      var str=$("#dialog-detail2").text();
        $("#product-category-name").val(str);
        $("#product-category-name").css("opacity","1");
        $("#product-dialog").hide();
    })

      $("#dialog-detail3").click(function(){
      
      var str=$("#dialog-detail3").text();
        $("#product-category-name").val(str);
        $("#product-category-name").css("opacity","1");
        $("#product-dialog").hide();
    })
    $("#dialog-detail4").click(function(){
      
      var str=$("#dialog-detail4").text();
        $("#product-category-name").val(str);
        $("#product-category-name").css("opacity","1");
        $("#product-dialog").hide();
    })
    $("#dialog-detail5").click(function(){
      
      var str=$("#dialog-detail5").text();
        $("#product-category-name").val(str);
        $("#product-category-name").css("opacity","1");
        $("#product-dialog").hide();
    })
})
if($("#bargainproduct1").is(':checked')){
    $("#bargainproduct2").attr("checked",false)
    $("#bargainproduct3").attr("checked",false)
}
if($("#bargainproduct2").is(':checked')){
    $("#bargainproduct1").attr("checked",false)
    $("#bargainproduct3").attr("checked",false)
}

if($("#bargainproduct3").is(':checked')){
    $("#bargainproduct1").attr("checked",false)
    $("#bargainproduct2").attr("checked",false)
}
      </script>
</body>
<script>
function uploadimage(){
 $("#taianh").attr("src",$("#ta").val());
}
</script>
<script>
    var input = document.querySelector('#avatar');
    var preview = document.querySelector('.preview');
    input.style.opacity = 0;
    input.addEventListener('change', updateImageDisplay);
    function updateImageDisplay() {
      while(preview.firstChild) {
        preview.removeChild(preview.firstChild);
      }
      var curFiles = input.files;
      if(curFiles.length === 0) {
        var para = document.createElement('p');
        para.textContent = 'No files currently selected for upload';
        preview.appendChild(para);
      } else {
        var list = document.createElement('p');
        preview.appendChild(list);
        for(var i = 0; i < curFiles.length; i++) {
            var image = document.createElement('img');
            image.src = window.URL.createObjectURL(curFiles[i]);
            image.style.height = "90px";
            image.style.width = "90px";
          list.appendChild(image);
        }
      }
    }
    var fileTypes = [
      'image/jpeg',
      'image/pjpeg',
      'image/png'
    ]
    
    function validFileType(file) {
      for(var i = 0; i < fileTypes.length; i++) {
        if(file.type === fileTypes[i]) {
          return true;
        }
      }
      return false;
    }
    function showResponse(response){
        alert(response)
    }
    </script>
</html> 